{% extends 'templates/base.html' %}
{% block content %}
<table>
  <tr>
    <th>Serial No.</th>
    <td>{{ blazer.serial_number }}</td>
  </tr>
  <tr>
    <th>Size</th>
    <td>{{ blazer.size }}</td>
  </tr>
  <tr>
    <th>Gender</th>
    <td>{{ blazer.gender }}</td>
  </tr>
  <tr>
    <th>Booked</th>
    <td>
      {% if blazer.booked %}
        Currently booked<br>

        {% set return_action = '/blazer/' ~ blazer.serial_number ~ '/return' %}
        <form action="{{ return_action }}" method="POST">
          <input type="submit" value="Return">
        </form>
      {% else %}
        Not booked<br>

        {% set book_action = '/blazer/' ~ blazer.serial_number ~ '/book' %}
        <form action="{{ book_action }}" method="POST">
          <input type="submit" value="Book">
        </form>
      {% endif %}
    </td>
  </tr>
</table>
{% endblock content %}
