{% extends 'templates/base.html' %}
{% block content %}
{% if blazers %}
<table>
  <tr>
    <th>Serial No.</th>
    <th>Gender</th>
    <th>Size</th>
  </tr>
  {% for blazer in blazers %}
  <tr>
    <td><a href="/blazer/{{ blazer.serial_number }}">{{ blazer.serial_number }}</a></td>
    <td>{{ blazer.gender }}</td>
    <td>{{ blazer.size }}</td>
  </tr>
  {% endfor %}
</table>
<p>
  View the <a href="https://docs.google.com/spreadsheets/d/{{ spreadsheetId }}/edit#gid=0" target="_blank">spreadsheet</a>.
</p>
{% else %}
  <p>There are no blazers.</p>
{% endif %}
{% endblock content %}
